$text = #34495e
$header = #3c4858


$link = #477dca



$red = #ed5565
$blue = #5b7dff //#3498db
$green = #28a745 //#26a69a
$orange = #fcc100 //#ff9800



// $_border = #dee2e6


// $red = #dc004e
// $blue = #1976d2

// $green = #26a69a
// $orange = #ff9800

